.col-sm-3{
    border-style: dotted
}
.container{
    padding-top: 30px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }
  .center-car{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
  }
  .card-header{
      background-color: antiquewhite
  }


 .jumbotron{
    background-color: antiquewhite
 }
 .col-3{
    border-style: solid
 }