<br>
<br>
<div class="container" *ngIf="garageData?.length===0">
  <div class="jumbotron">
    <h1 class="display-3">Car Expense Tracker:</h1>
    <p class="lead">You do not have a garage created.</p>
    <hr class="my-4">
    <p> If you want to create one, please click the button bellow.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" routerLink="/garage/create">Create Garage</a>
    </p>
  </div>
</div>

<!-- second part -->
<div class="container-fluid" *ngIf="garageData && garageData?.length!==0">
  <div class="row">

    <div class="col-3">
      <div class="btn-group-vertical" data-toggle="buttons">
        <br>
        <h3 class="card-header">Navigation menu for managing</h3>
        <button type="button" class="btn btn-primary" routerLink="/cars/create">Add Car To Garage</button>
        <button type="button" class="btn btn-primary" routerLink="/cars/remove">Delete Car From Garage</button>
        <button type="button" class="btn btn-primary" routerLink="/garage/report/{{garageId}}">Generate Overall Report</button>
      </div>
    </div>



    <div class="container">
      <div class="col-9" *ngFor="let f of garageData ">
        <div class="card mb-3">
          <h3 class="card-header">{{f.garageName}}</h3>
          <img class="center" src="{{f.garagePicture}}" alt="Card image">
          <div class="card-body">
            <p class="card-text">{{f.garageDescription}}</p>
          </div>
          <button type="button" class="btn btn-primary" routerLink="/garage/details/{{f._id}}">Check it now</button>

          <div class="card" *ngIf="!cars || cars?.length===0">
              <strong> </strong>
          </div>

          <div class="alert alert-dismissible alert-secondary" *ngIf="!cars || cars?.length===0">
              <strong>There are no cars registered in the garage.</strong>  
            </div>

          <div class="card" *ngIf="cars && cars?.length!==0">
          <div class="card custom" *ngFor="let car of cars">
            <div class="card-body" >
              <h2 class="card-title">Car name: {{car.carName}}</h2>
              <img class="center-car" src="{{car.carPicture}}"
            alt="Card image">
              <br>
              <h4 class="card-subtitle mb-2 text-muted">Car Brand: {{car.carBrand}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Car Model: {{car.carModel}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Car Price: {{car.initialInvestment}} lv.</h6>
              <p class="card-text">Card Description: {{car.carDescription}}</p>
              <button type="button" class="btn btn-secondary" routerLink="/cars/details/{{car._id}}">Car Details</button>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>