<div class="container">
  <div>
    <h1>All Garages:</h1>
  </div>
  <div class="modal-body row" *ngIf="userData">
    <div class="col-md-4" *ngFor="let u of userData">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Garage :
            <strong>{{u['garage']['garageName']}}</strong>
          </h5>

          <button (click)="deleteGarage(u['user']['_id'])" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>User Information:</h4>
          <p>UserId/username:
            <strong>{{u['user']['_id']}} / {{u['user']['username']}}</strong>
          </p>

        </div>

        <div class="modal-body">
          <h4>Garage Information:</h4>
          <img class="center" src="{{u['garage']['garagePicture']}}" />
          <p>There are {{u['garage']['allCars'].length}} cars in this garage!</p>
          <p>Garage Description:
              <strong>{{u['garage']['garageDescription']}}</strong>
            </p>
        </div>
        <div class="modal-body" *ngIf="u['garage']['allCars'].length!==0">
          <h4>Cars Information:</h4>
          <div class="modal-body" *ngFor="let c of u['garage']['allCars']">
            <p>Car: <strong>{{c['carName']}}</strong></p>
            <p>Model: <strong>{{c['carBrand']}} / {{c['carModel']}}</strong></p>
            <p>Initial Investment: <strong>{{c['expenses']['initialInvestment']}} lv</strong></p>
            <p>Cleaning Expenses: <strong>{{c['expenses']['cleaning']}} lv</strong></p>
            <p>Accessories Expenses: <strong>{{c['expenses']['accessories']}} lv</strong></p>
            <p>Repair Expenses: <strong>{{c['expenses']['carRepair']}} lv</strong></p>
            <p>Consumables Expense: <strong>{{c['expenses']['consumables']}} lv</strong></p>
            <p>Fuel Expense: <strong>{{c['expenses']['fuel']}} lv</strong></p>
            <p>Taxes Expense: <strong>{{c['expenses']['taxes']}} lv</strong></p>
            <p>Others Expense: <strong>{{c['expenses']['others']}} lv</strong></p>
            <div class="modal-footer">
              <span routerLink="/admin/carEdit/{{c['_id']}}" class="badge badge-warning">Edit Car</span>
              <span (click)="deleteCar(u['user']['_id'], c['_id'],c['expenses']['_id'],u['garage']['_id'])" class="badge badge-danger">Delete Car</span>
              <span routerLink="/admin/expenseEdit/{{c['_id']}}" class="badge badge-warning">Modify Car Expenses</span>
            </div>
            <img class="center" src="{{c['carPicture']}}" />


          </div>

        </div>
        <div class="modal-footer">
          <button routerLink="/admin/modifyGarage/{{u['garage']['_id']}}" type="button" class="btn btn-primary">Edit Garage</button>
        </div>
      </div>
    </div>

  </div>

</div>