<div class="container">
  <h3>Admin Panel - Administration menu</h3>
  <ul class="list-group">
    <a routerLink="/admin/users" class="list-group-item d-flex justify-content-between align-items-center">
      Access All Users:
      <span class="badge badge-primary badge-pill">Access User Menu</span>
    </a>
    <!-- <a routerLink="/admin/cars/" class="list-group-item d-flex justify-content-between align-items-center">
      Access All Cars By User
      <span class="badge badge-primary badge-pill">Access BudgetTracker Menu</span>
    </a> -->
    <a routerLink="/admin/garages" class="list-group-item d-flex justify-content-between align-items-center">
      Access All Garages
      <span class="badge badge-primary badge-pill">Access Your Own Account </span>
    </a>
  </ul>
</div>