<br>
<br>
<br>
<div class="row">
  <div class="col-8">

    <div class="center" class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="car">
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" routerLink="/cars/report/{{car._id}}"> Generate Expense Report
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" routerLink="/cars/addExpense/{{car._id}}"> Add Expense
      </label>
    </div>
    <br>
    <br>

    <div class="row" >
      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Initial Investment</div>
          <div class="card-body">
            <h4 class="card-title">Initial expense for car: </h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.initialInvestment}} lv.</li>
            </ol>
          </div>
        </div>

      </div>

      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Fuel:</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for fuel</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.fuel}} lv.</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Car Repair</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for repairing</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.carRepair}} lv.</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Consumables</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for consumables:</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.consumables}} lv.</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Accessories</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for Accessories:</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.accessories}} lv.</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-3">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Cleaning</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for cleaning:</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.cleaning}} lv.</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Taxes and Charges</div>
          <div class="card-body">
            <h4 class="card-title">Expenses for all charges:</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="expense">{{expense.taxes}} lv.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-3">
          <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Others</div>
            <div class="card-body">
              <h4 class="card-title">Expenses for other things:</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngIf="expense">{{expense.others}} lv.</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="col-4">

    <div class="card mb-3" *ngIf="car">
      <h3 class="custom"  >Car:{{car.carName}}</h3>
      <h5 class="custom-2" >Car model:{{car.carBrand}} {{car.carModel}}</h5>
      <img class="center" src="{{car.carPicture}}" alt="Card image">
      <div class="card-body">
        <p class="card-text">Car description: {{car.carDescription}}</p>
      </div>
      <div class="card" *ngIf="!cars || cars?.length===0">
        <strong> </strong>
      </div>
    </div>
    
  </div>
</div>